{% extends "todo/layout.html" %}
	{% block content %}
					<h1>Sign In</h1>
					<br>
					{% if form.errors%}
					<p> There's Something wrong with what you entered! </p>
					{% endif %}

					{% if next %}
					<p> Hey, you can't access that page </p>

					{% endif %}
					<form method = "POST" action="{% url 'login' %}">
					    {% csrf_token %}
					    <p> Username: {{ form.username }}</p>
					    <p> Password: {{ form.password }}</p>

                        <div class="form-group">
                				<button class="btn btn-primary black-background white" type="submit">Log In</button>
                				<br>
                				<br>
                				<small class="text-muted ml-2">
                				    <a href="{% url 'password_reset_main' %}">Forget Password? </a>
                				</small>
            			</div>
					    <input type="hidden" name="next" value="{{ next }}">
					</form>
					       <div class="border-top pt-3">
                                <small class="text-muted">
                                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                                </small>
                            </div>
	{% endblock content %}